*{
    margin: 0;
}

/*Fondo*/
body{
    background-image: url('/src/assets/images/Fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw; /* Ancho del viewport */
    height: 100vh; /* Alto del viewport */
}